@import "../../global.scss";

$button-size: 200px; // 按钮的基础大小，可根据需要调整

.record-button-wrapper {
  position: relative;
  margin: 0 auto;
  height: calc(
    $button-size * 2
  ); // 容器的高度是按钮的2倍，以确保有足够空间显示波浪效果
  width: calc($button-size * 2); // 宽度同上
}

.record-btn {
  position: absolute;
  cursor: pointer;
  width: $button-size;
  height: $button-size;
  background: $primary-color;
  text-align: center;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: calc($button-size / 6); // 文本大小相对于按钮大小
}

.record-btn.disabled {
  background-color: #ccc; // 按钮背景变灰
  pointer-events: none; // 禁止点击
}

.circle-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle1,
.circle2 {
  border-radius: 50%;
  background: $primary-color;
}

.circle1 {
  z-index: 0;
  width: calc($button-size * 1.5); // circle1 是按钮大小的 1.5 倍
  height: calc($button-size * 1.5);
  animation: pulse 3s ease both infinite;
}

.circle2 {
  z-index: 0;
  width: calc($button-size * 1.8); // circle2 是按钮大小的 1.8 倍
  height: calc($button-size * 1.8);
  opacity: 0.6;
  animation: pulse 3s ease both infinite;
  animation-delay: 200ms;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  20% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
  70% {
    transform: scale(1);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
